<!DOCTYPE html>
<html {{ if $.Params.page }}class="{{ $.Params.page }}" {{ end }}lang="en">
{{ partial "header" . }}
<body>
	<div class="container d-none d-sm-block mt-4">
		<h2>Ian Brandt</h2>
	</div>
	{{- block "navbar" . }}
	{{- partial "navbar" . }}
	{{- end }}
	{{- block "main" . }}
	{{- end }}
	{{- block "footer" . }}
	{{- partial "footer" . }}
	{{- end }}
	{{- partialCached "scripts" . }}
	{{ block "pageScripts" . }}
	{{ end }}
</body>
</html>
