<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
	<meta name="description" content="Ian Brandt">
	<meta name="author" content="Ian Brandt &lt;ian@ianbrandt.com&gt;">
	<!--<link rel="icon" href="../../favicon.ico">-->
	<title>{{ .Site.Title }} &ndash; {{ .Title }}</title>
	<link rel="canonical" href="{{ .Permalink }}">
	{{- $mainCss := "main.css" }}
	<link href="/css/{{ index .Site.Data.css.manifest $mainCss }}" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400%7CRoboto:500" rel="stylesheet">
	{{ if eq (getenv "HUGO_ENV") "production" }}
		{{- template "_internal/google_analytics_async.html" . }}
	{{- end }}
</head>
