<header id="navbar-container">
	<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
		<a class="navbar-brand d-sm-none" href="/" title="Home"><h3 class="text-light my-0">Ian Brandt</h3></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			{{- $currentNode := . }}
			<ul class="navbar-nav">
				{{- range $menuEntry := $.Site.Menus.main }}
				{{- $currentMenu := $currentNode.IsMenuCurrent "main" $menuEntry }}
				<li class="nav-item{{ if $currentMenu }} active{{ end }}">
					<a class="nav-link" href="{{ $menuEntry.URL }}">{{- $menuEntry.Name }}
						{{- if $currentMenu }}<span class="sr-only">(current)</span>{{ end }}</a>
				</li>
				{{- end }}
			</ul>
			<ul class="navbar-nav flex-row justify-content-end ml-auto my-2 my-sm-0">
				<li class="nav-item px-2">
					<a href="http://www.linkedin.com/in/ianbrandt" title="Ian Brandt on LinkedIn">
						<img class="social-icon" src="/img/svg/linkedin.svg" alt="LinkedIn"/>
					</a>
				</li>
				<li class="nav-item px-2">
					<a href="https://twitter.com/ianbrandt" title="Ian Brandt on Twitter">
						<img class="social-icon" src="/img/svg/twitter.svg" alt="Twitter"/>
					</a>
				</li>
				<li class="nav-item px-2">
					<a href="https://www.goodreads.com/ianbrandt" title="Ian Brandt on Goodreads">
						<img class="social-icon" src="/img/svg/goodreads.svg" alt="Goodreads"/>
					</a>
				</li>
				<li class="nav-item px-2">
					<a href="https://github.com/ianbrandt" title="Ian Brandt on GitHub">
						<img class="social-icon" src="/img/svg/github.svg" alt="GitHub"/>
					</a>
				</li>
				<li class="nav-item px-2">
					<a href="https://gitlab.com/ianbrandt" title="Ian Brandt on GitLab">
						<img class="social-icon" src="/img/svg/gitlab.svg" alt="GitLab"/>
					</a>
				</li>
			</ul>
		</div>
	</nav>
</header>
