{{ define "main" }}
<div class="container mt-4">
	<main class="border rounded p-4">
		<div class="row">
			<div class="col-md-8">
				{{ .Content }}
			</div>
			<div class="col-md">
				<a class="twitter-timeline" data-height="768" href="https://twitter.com/ianbrandt?ref_src=twsrc%5Etfw">Tweets
					by ianbrandt</a>
			</div>
		</div>
	</main>
</div>
{{ end }}
{{ define "pageScripts" }}
{{- $indexJs := "index.js" -}}
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script type="text/javascript">
	$(function () {
		$('[data-toggle="tooltip"]').tooltip()
	})
</script>
{{ end }}
